/* * Fonts */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

/* * Fonts end */

/* * Custom styles */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-dark-grey: #7e7e7e;
  --basic-light-grey: #e5e5e5;
  --basic-half-grey: #dcdcdc;
  --basic-white: #ffffff;

  --special-yellow: #f0c52e;
  --special-light-yellow: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;

  --white-opacity03: rgba(255, 255, 255, 0.3);
  --white-opacity07: rgba(255, 255, 255, 0.7);
  --black-opacity03: rgba(0, 0, 0, 0.3);
  --black-opacity06: rgba(0, 0, 0, 0.6);

  --modal-shadow: rgba(0, 0, 0, 0.15);
  --modal-input-background: #F2F2F2;
  --modal-input-background-hover: #EAEAEA;

  --filter-scale-color: #b7b7b7;
  --filter-toggle-shadow: rgba(0, 0, 0, 0.18);
  --filter-toggle-border: #c4c4c4;

  --catalog-bottom-nav: #ebebeb;
  --catalog-bottom-nav-button: #d9d9d9;
}

/* * Custom styles end */

/* * Global styles */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * Global styles end */

/* * Center container */

.center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* * Center container end */

/* * Visually hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * Visually hidden end */

/* * Button style */

.button {
  position: relative;
  padding: 0;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  z-index: 20;
}

.visually-hidden .button {
  display: none;
}

/* * */

/* * Sticker */

.sticker::after {
  content: "New";
  position: absolute;
  top: 31px;
  right: 27px;
  width: 62px;
  height: 62px;
  text-align: center;
  padding: 20px 15px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--black-opacity03);
  background-color: transparent;
  border: 2px solid var(--black-opacity03);
  border-radius: 50%;
}

/* * Page grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* * Page grid end */

/* * Header */

.header {
  width: 1160px;
  padding-left: 60px;
  background: linear-gradient(180deg, var(--basic-white) 17.5%, var(--special-light-yellow) 17.5%);
}

/* * Logo bar */

.logo-bar {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -1px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

/* * Logo bar end */

/* * Header bar */

.header-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.search-form {
  display: flex;
  position: relative;
  width: 440px;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 51%;
}

.search {
  font-weight: inherit;
  width: 356px;
  padding: 14px 38px;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search:hover {
  opacity: 0.6;
}

.search-form:focus-within .search {
  opacity: 1;
  border-bottom: 2px solid var(--basic-black);
}

.search-button {
  padding: 13px 15px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  visibility: hidden;
  cursor: pointer;
}

.search-form:focus-within .search-button {
  visibility: visible;
}

.search-button:hover,
.search-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  visibility: visible;
}

.search-button:active {
  color: var(--white-opacity03);
  background-color: var(--basic-black);
  visibility: visible;
}

.header-buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.login,
.compare,
.cart,
.catalog-login {
  position: relative;
  padding: 15px;
  color: var(--basic-black);
}

.login {
  margin-right: 210px;
}

.login::before,
.catalog-login::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -8px;
  width: 13px;
  height: 14px;
  background-image: url(../img/icons/user-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare {
  margin-right: 35px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -10px;
  width: 14px;
  height: 14px;
  background-image: url(../img/icons/compare-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  margin-right: 26px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -6px;
  width: 10px;
  height: 10px;
  background-image: url(../img/icons/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover,
.login:focus,
.compare:hover,
.compare:focus,
.cart:hover,
.cart:focus,
.catalog-login:hover,
.catalog-login:focus,
.catalog-logout:hover,
.catalog-logout:focus {
  opacity: 0.6;
}

.login:active,
.compare:active,
.cart:active,
.catalog-login:active {
  opacity: 0.3;
}

/* * Header bar end */

/* * Nav bar */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item-link {
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--black-opacity06);
}

.navigation-item-link:active {
  color: var(--black-opacity03);
}

.navigation-item-catalog {
  position: relative;
  margin-right: 321px;
}

.navigation-item-catalog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 232px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icons/drop-down-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.navigation-item-delivery {
  margin-right: 35px;
}

.navigation-item-warranty {
  margin-right: 108px;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  display: none;
  width: 1160px;
  margin: 0 auto;
  margin-left: -60px;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 60px;
  background-color: var(--special-light-yellow);
  z-index: 10;
}

.navigation-item-catalog:hover .dropdown-menu,
.navigation-item-catalog:focus-within .dropdown-menu {
  display: flex;
}

.dropdown-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-item-link {
  display: block;
  margin-bottom: 16px;
  margin-right: 63px;
  color: var(--basic-black);
}

.dropdown-item-last {
  grid-row: 3 / 4;
}

.dropdown-item-link:hover,
.dropdown-item-link:focus {
  opacity: 0.6;
}

.dropdown-item-link:active {
  opacity: 0.3;
}

/* * Nav bar end */

/* * Main */

/* * Main slider */

.main-slider {
  position: relative;
  width: 1160px;
  margin-bottom: 111px;
  background: linear-gradient(180deg, var(--special-light-yellow) 24%, var(--basic-white) 24%);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider-photo {
  justify-self: center;
}

.slider-selfie {
  margin-top: -14px;
  margin-right: 37px;
}

.slider-watch {
  margin-top: 11px;
  margin-right: 23px;
}

.slider-dron {
  margin-top: 68px;
  margin-right: 11px;
}

.slider-info {
  padding-left: 20px;
}

.slider-info-border {
  width: 100px;
  height: 7px;
  margin-top: 20px;
  background-color: var(--basic-white);
}

.slider-info-number {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
}

.slider-number-01,
.slider-number-02,
.slider-number-03 {
  margin-top: -59px;
  text-align: right;
}

.slider-number-01 {
  margin-right: 28px;
}

.slider-number-02,
.slider-number-03 {
  margin-right: 33px;
}

.slider-info-title {
  margin: 0;
  margin-top: -108px;
  margin-bottom: 26px;
  padding: 0;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-info-text {
  width: 480px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.slider-button-more {
  padding: 10px 45px;
}

.slider-button-more::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 1px;
  padding: 4px 110px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.slider-button-more:hover::before,
.slider-button-more:focus::before {
  top: 0px;
  padding: 20px 110px;
  transition: 0.2s;
}

.slider-button-more:active {
  color: var(--black-opacity03);
}

.slider-pagination,
.slider-pagination-current {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 50%;
}

.slider-table {
  margin-top: 48px;
  margin-left: -2px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 300;
}

.slider-table-head {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-table-body {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-table-cell {
  padding: 11px 60px 2px 0px;
}

.slider-pagination-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 320px;
  right: 20px;
  width: 72px;
  margin: 0;
  margin-top: -1px;
  margin-right: 68px;
  padding: 0;
  list-style: none;
}

/* * Main slider end */

/* * Popular products */

.popular-products {
  margin-bottom: 65px;
}

.popular-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-products-item {
  width: 160px;
}

.popular-products-container {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  background-color: var(--special-light-yellow);
}

.popular-products-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-products-image.products-image-selfie {
  margin-top: 4px;
}

.popular-products-title {
  margin-left: 1px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.popular-products-title.title-fitness {
  letter-spacing: normal;
}

.popular-products-link:hover .popular-products-container,
.popular-products-link:focus .popular-products-container {
  background-color: var(--special-yellow);
}

.popular-products-link:active .popular-products-image,
.popular-products-link:active .popular-products-title {
  opacity: 0.3;
}

/* * Popular products end*/

/* * Services */

.services {
  height: 388px;
  background: linear-gradient(180deg, var(--basic-white) 26%, var(--basic-light-grey) 26%);
  margin-bottom: 91px;
}

.services-container {
  display: grid;
  grid-template-columns: 284px auto;
}

.services-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 320px;
  padding-top: 80px;
  border-right: 7px solid var(--basic-black);
}

.services-button {
  width: 100%;
  padding: 10px 114px 10px 0px;
  margin-bottom: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.services-button-current {
  width: 100%;
  padding: 10px 114px 10px 0px;
  margin-bottom: 19px;
  background-color: var(--basic-black);
  color: var(--special-light-yellow);
  border: none;
  cursor: pointer;
}

.services-button::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0px;
  padding: 4px 80px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.services-button:hover::before,
.services-button:focus::before {
  top: 0px;
  padding: 20px 80px;
  transition: 0.2s;
}

.services-button:active::before {
  display: none;
}

.services-button:active {
  color: var(--special-light-yellow);
  background-color: var(--basic-black);
}

.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  position: relative;
}

.services-item-text {
  margin-top: 72px;
  margin-left: 116px;
}

.services-item-title {
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-item-info {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services-item-delivery::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  width: 136px;
  height: 164px;
  background-image: url(../img/decor/delivery.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item-warranty::after {
  content: "";
  position: absolute;
  top: -18px;
  right: -15px;
  width: 171px;
  height: 195px;
  background-image: url(../img/decor/warranty.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item-credit::after {
  content: "";
  position: absolute;
  top: -22px;
  right: 8px;
  width: 156px;
  height: 188px;
  background-image: url(../img/decor/credit.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* * Services End */

/* * Brands */

.brands {
  margin-bottom: 100px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item-link {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-item-link:hover,
.brands-item-link:focus {
  filter: grayscale(0%);
  opacity: 1;
}

/* * Brands end */

/* * Info */

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 86px;
}

/* * About us */

.about-us {
  position: relative;
  width: 475px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.info-title {
  margin-bottom: 38px;
  margin-top: 44px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info-text {
  padding-bottom: 27px;
  line-height: 28px;
}

.about-info-list {
  padding: 0;
  margin: 0;
  margin-top: 33px;
  margin-left: 32px;
  margin-bottom: 64px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
}

.about-info-item {
  position: relative;
  padding-bottom: 14px;
}

.about-info-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -7%;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-light-grey);
  background-color: var(--basic-white);
  border-radius: 50%;
  transform: translateY(-100%);
}

.about-info-button {
  padding: 10px 25px;
}

.about-info-button::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  padding: 4px 130px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.about-info-button:hover::before,
.about-info-button:focus::before {
  top: 0;
  padding: 20px 130px;
  transition: 0.2s;
}

.about-info-button:active {
  color: var(--black-opacity03);
}

/* * About us end */

/* * Contacts */

.contacts {
  padding-left: 20px;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 20px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.map {
  display: block;
  margin-bottom: 80px;
}

.contacts-info-button {
  margin-top: 80px;
  padding: 10px 40px;
}

.contacts-info-button::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0px;
  padding: 4px 130px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.contacts-info-button:hover::before,
.contacts-info-button:focus::before {
  top: 0;
  padding: 20px 130px;
  transition: 0.2s;
}

.contacts-info-button:active {
  color: var(--black-opacity03);
}

/* * Contacts end */

/* * Info end */

/* * Main end */

/* * Footer */

.footer {
  background-color: var(--basic-dark);
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "logo list list"
    "address links tel"
    "border social html";
  padding-bottom: 65px;
}

.footer-logo {
  grid-area: logo;
  margin-top: 64px;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-buttons-list {
  grid-area: list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-top: 46px;
  margin-left: 11px;
  padding: 0;
  list-style: none;
}

.footer-button-item {
  margin-left: 50px;
}

.footer-login,
.footer-compare,
.footer-cart,
.catalog-footer-login,
.catalog-footer-logout {
  position: relative;
  padding: 15px 0 15px 15px;
  color: var(--white-opacity07);
}

.footer-login::before,
.catalog-footer-login::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -9px;
  width: 13px;
  height: 14px;
  background-image: url(../img/icons/user-icon-color.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -9px;
  width: 14px;
  height: 14px;
  background-image: url(../img/icons/compare-icon-color.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-cart::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -7px;
  width: 10px;
  height: 10px;
  background-image: url(../img/icons/cart-icon-color.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-button-item:hover .footer-login,
.footer-button-item:focus .footer-login,
.footer-button-item:hover .footer-compare,
.footer-button-item:focus .footer-compare,
.footer-button-item:hover .footer-cart,
.footer-button-item:focus .footer-cart,
.footer-button-item:hover .catalog-footer-login,
.footer-button-item:focus .catalog-footer-login,
.footer-button-item:hover .catalog-footer-logout,
.footer-button-item:focus .catalog-footer-logout {
  color: var(--basic-white);
}

.footer-button-item:hover .footer-login::before,
.footer-button-item:focus .footer-login::before,
.footer-button-item:hover .footer-compare::before,
.footer-button-item:focus .footer-compare::before,
.footer-button-item:hover .footer-cart::before,
.footer-button-item:focus .footer-cart::before,
.footer-button-item:hover .catalog-footer-login::before,
.footer-button-item:focus .catalog-footer-login::before {
  opacity: 0.6;
}

.footer-button-item:active .footer-login,
.footer-button-item:active .footer-compare,
.footer-button-item:active .footer-cart,
.footer-button-item:active .catalog-footer-login,
.footer-button-item:active .catalog-footer-logout {
  color: var(--white-opacity03);
}

.footer-button-item:active .footer-login::before,
.footer-button-item:active .footer-compare::before,
.footer-button-item:active .footer-cart::before,
.footer-button-item:active .catalog-footer-login::before {
  opacity: 0.3;
}

.footer-address {
  grid-area: address;
  margin-top: 36px;
  font-style: normal;
  color: var(--basic-white);
}

.footer-nav-list {
  grid-area: links;
  display: flex;
  margin: 0;
  margin-top: 35px;
  margin-left: 83px;
  padding: 0;
  list-style: none;
}

.footer-nav-item {
  margin-right: 33px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-nav-link {
  color: var(--basic-white);
}

.footer-nav-item:hover,
.footer-nav-item:focus {
  opacity: 0.6;
}

.footer-nav-item:active {
  opacity: 0.3;
}

.footer-number-text {
  grid-area: tel;
  justify-self: end;
  margin-top: 36px;
  color: var(--basic-white);
}

.footer-number {
  color: var(--basic-white);
}

.footer-info-border {
  grid-area: border;
  width: 80px;
  height: 7px;
  margin-top: 65px;
  background-color: var(--special-yellow);
}

.footer-social-list {
  grid-area: social;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: center;
  width: 136px;
  margin: 0;
  margin-top: 53px;
  margin-left: -38px;
  padding: 0;
  list-style: none;
}

.footer-social-link svg {
  opacity: 0.6;
}

.footer-social-link:hover svg,
.footer-social-link:focus svg {
  opacity: 1;
}

.footer-social-link:active svg {
  opacity: 0.3;
}

.footer-html-logo-link {
  grid-area: html;
  justify-self: end;
  margin-top: 52px;
}

.footer-html-logo-link:hover,
.footer-html-logo-link:focus {
  opacity: 0.6;
}

.footer-html-logo-link:active {
  opacity: 0.3;
}

/* * Footer end */

/* * Catalog */

.catalog-login {
  margin-right: 6px;
}

.catalog-logout {
  padding: 10px 0;
  margin-right: 72px;
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-navigation {
  padding-left: 80px;
  margin-top: 45px;
  margin-bottom: 49px;
}

.catalog-title {
  margin-bottom: 30px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-link {
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 8px;
  height: 12px;
  background-image: url(../img/icons/bread-crumbs-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(15px, -50%);
}

.catalog-container {
  display: grid;
  grid-template-rows: auto auto;
}

.catalog-header {
  background: linear-gradient(90deg, var(--basic-half-grey) 36.8%, var(--basic-light-grey) 36.8%);
}

.catalog-body {
  background: linear-gradient(-90deg, var(--basic-white) 63.2%, var(--basic-light-grey) 63.2%);
}

.catalog-header-content,
.catalog-body-content {
  display: grid;
  grid-template-columns: 328px auto;
}

.catalog-filter-text {
  margin-top: 25px;
  margin-left: 60px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-header-sorting {
  display: flex;
  flex-wrap: wrap;
}

.catalog-sorting-text {
  margin-top: 25px;
  margin-left: 72px;
  margin-right: 48px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-sorting-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.catalog-sorting-item {
  margin: 25px 5px 25px 25px;
  opacity: 0.3;
}

.catalog-sorting-link {
  color: var(--basic-black);
}

.catalog-sorting-item:hover,
.catalog-sorting-item:focus {
  opacity: 0.6;
}

.catalog-sorting-item:active {
  opacity: 1;
}

.catalog-sorting-buttons {
  padding-top: 26px;
  padding-bottom: 20px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 52px;
}

.sorting-button .sorting-down {
  opacity: 0.3;
}

.sorting-button:hover svg,
.sorting-button:focus svg {
  opacity: 0.6;
}

.sorting-button:active svg {
  opacity: 1;
}

.filter {
  margin-top: 87px;
  margin-left: 60px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item-legend {
  position: relative;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-item-legend::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 200px;
  height: 2px;
  background: var(--basic-black);
}

.filter-item-price {
  margin-bottom: 43px;
}

.range-controls {
  position: relative;
  padding: 40px 70px 7px 0px;
}

.scale {
  height: 2px;
  background: var(--filter-scale-color);
}

.bar {
  width: 60%;
  height: 2px;
  background: var(--special-green);
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--filter-toggle-border);
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 var(--filter-toggle-shadow);
  cursor: pointer;
}

.toggle-min {
  left: 0px;
}

.toggle-max {
  left: 114px;
}

.range-price {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.range-price input {
  width: 79px;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  background-color: var(--basic-lightenbrown);
}

.filter-item-colors {
  padding-top: 32px;
  margin-bottom: 36px;
}

.filter-list {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.filter-option-color {
  padding-bottom: 20px;
  padding-left: 42px;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -42px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/checkbox-off-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+.filter-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -42px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/checkbox-on-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover+.filter-label::before,
.filter-input-checkbox:focus+.filter-label::before {
  opacity: 0.6;
}

.filter-input-checkbox:active+.filter-label::before {
  opacity: 1;
}

.filter-input-checkbox:focus+.filter-label::before {
  outline: thin dotted;
}

.filter-option-bluetooth {
  padding-bottom: 20px;
  padding-left: 41px;
}

.filter-item-bluetooth {
  padding-top: 32px;
  margin-bottom: 24px;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -42px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -34px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before,
.filter-input-radio:hover+label::after,
.filter-input-radio:focus+label::after {
  opacity: 0.6;
}

.filter-input-radio:active+label::before,
.filter-input-radio:active+label::after {
  opacity: 1;
}

.filter-input-radio:focus+label::before {
  outline: thin dotted;
}

.filter-input:disabled+label {
  opacity: 0.25;
  pointer-events: none;
}

.filter-button {
  padding: 10px 38px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.filter-button::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 1px;
  padding: 4px 100px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.filter-button:hover::before,
.filter-button:focus::before {
  top: 0px;
  padding: 20px 100px;
  transition: 0.2s;
}

.filter-button:active {
  color: var(--black-opacity03);
}

.catalog-product-container {
  margin-bottom: 40px;
}

.catalog-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 71px;
  margin-left: 71px;
  margin-bottom: -8px;
  padding: 0;
  list-style: none;
}

.catalog-product-item {
  position: relative;
  margin-bottom: 48px;
}

.catalog-product-item:hover .catalog-product-buttons,
.catalog-product-item:focus-within .catalog-product-buttons {
  height: 100px;
  z-index: 100;
}

.catalog-product-item:hover .catalog-product-image,
.catalog-product-item:focus-within .catalog-product-image {
  opacity: 0.7;
}

.catalog-product-image {
  margin-bottom: 26px;
}

.catalog-product-buttons {
  display: block;
  width: 200px;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 37.3%;
  left: 50%;
  transform: translateX(-50%);
}

.in-cart-button {
  display: block;
  padding: 10px 35px;
  margin-bottom: 2px;
}

.in-cart-button::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -12px;
  padding: 4px 100px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.in-cart-button:hover::before,
.in-cart-button:focus::before {
  top: 0px;
  padding: 20px 100px;
  transition: 0.2s;
}

.in-cart-button:active {
  color: var(--black-opacity03);
}

.compare-button {
  display: block;
  padding: 10px 4px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
}

.compare-button:hover,
.compare-button:focus {
  opacity: 1;
}

.compare-button:active {
  opacity: 0.2;
}

.product-title {
  padding: 0;
  margin: 0;
  margin-left: 1px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.product-price {
  padding: 0;
  margin: 0;
  margin-top: 3px;
  margin-right: -1px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-product-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-title-prof {
  letter-spacing: 0.035em;
}

.catalog-pagination-list,
.catalog-page-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination-item,
.catalog-pagination-link {
  padding: 25px 15px 25px 15px;
}

.catalog-pagination-list {
  margin-left: 72px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--catalog-bottom-nav);
}

.catalog-pagination-link,
.catalog-page-navigation-link {
  color: var(--basic-black);
}

.catalog-page-navigation-list {
  margin-left: 10px;
}

.catalog-page-navigation-item {
  opacity: 0.3;
}

.catalog-page-navigation-link {
  padding: 15px 15px;
}

.catalog-page-navigation-item:hover,
.catalog-page-navigation-item:focus {
  opacity: 0.6;
}

.catalog-page-navigation-item:active {
  opacity: 1;
}

.catalog-page-navigation-item-current {
  opacity: 1;
}

.catalog-pagination-list {
  margin-bottom: 39px;
}

.pagination-back:hover,
.pagination-next:hover,
.pagination-back:focus-within,
.pagination-next:focus-within {
  background-color: var(--catalog-bottom-nav-button);
}

.pagination-back:active .catalog-pagination-link,
.pagination-next:active .catalog-pagination-link {
  background-color: var(--catalog-bottom-nav-button);
  color: var(--black-opacity03);
}

.catalog-footer-logout {
  padding-right: 0;
  padding-left: 0;
  margin-left: -27px;
}

/* * Catalog end */

/* * Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  z-index: 50;
}

.modal-write-us {
  top: 90px;
  bottom: auto;
  width: 960px;
  box-shadow: 0px 10px 16px var(--modal-shadow);
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  margin-top: 92px;
  margin-left: 100px;
  margin-bottom: 59px;
}

.write-us-item label {
  display: block;
  margin-bottom: 10px;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.write-us-item input {
  width: 360px;
  padding: 16px 20px;
  margin-right: 40px;
  margin-bottom: 31px;
  font-family: "Open Sans", Arial, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--modal-input-background);
  border: none;
}

.write-us-item textarea {
  width: 760px;
  padding: 16px 10px 23px 20px;
  font-family: "Open Sans", Arial, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--modal-input-background);
  border: none;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
  background-color: var(--modal-input-background-hover);
}

.write-us-item input:focus,
.write-us-item textarea:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-light-yellow);
  color: var(--basic-dark);
  outline: none;
}

.write-us-item input:invalid {
  background-color: var(--special-pink);
}

.modal-submit-button {
  margin-top: 44px;
  padding: 10px 33px;
  background: var(--basic-white);
  border: none;
  cursor: pointer;
}

.modal-submit-button::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  padding: 4px 100px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.modal-submit-button:hover::before,
.modal-submit-button:focus::before {
  top: 0px;
  padding: 20px 100px;
  transition: 0.2s;
}

.modal-submit-button:active {
  color: var(--black-opacity03);
}

.modal-map {
  top: 150px;
  bottom: auto;
  width: 960px;
  box-shadow: 0px 10px 16px var(--modal-shadow);
}

.modal-map img {
  display: block;
}

.modal-close-button {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  border: none;
}

.modal-write-us .modal-close-button::before,
.modal-write-us .modal-close-button::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 15px;
  width: 25px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--basic-white);
}

.modal-map .modal-close-button::before,
.modal-map .modal-close-button::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 14px;
  width: 25px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--basic-white);
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover,
.modal-close-button:focus {
  opacity: 1;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-cart {
  top: 90px;
  right: -33px;
  bottom: auto;
  width: 620px;
  height: 282px;
  box-shadow: 0px 4px 20px var(--special-item-shadow);
  border-top: 7px solid var(--basic-red);
}

.modal-cart-title {
  position: relative;
  padding-top: 43px;
  padding-left: 176px;
  margin-bottom: 66px;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.modal-cart-title::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icons/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-cart .modal-close-button::before,
.modal-cart .modal-close-button::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -3px;
  width: 27px;
  height: 5px;
  border-radius: 1px;
  background-color: var(--basic-red);
}

.modal-show {
  display: block;
  animation: modal-animation 0.5s;
}

.modal-error {
  animation: error 0.5s;
}

/* * Modal end */

/* * Animations */

@keyframes modal-animation {

  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes error {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* * Animation end */
