/* * Fonts */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

/* * Fonts end */

/* * Custom styles */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-light-grey: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow: #f0c52e;
  --special-light-yellow: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;

  --white-opacity03: rgba(255, 255, 255, 0.3);
  --black-opacity03: rgba(0, 0, 0, 0.3);
  --black-opacity06: rgba(0, 0, 0, 0.6);
}

/* * Custom styles end */

/* * Global styles */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * Global styles end */

/* * Center container */

.center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* * Center container end */

/* * Visually hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * Visually hidden end */

/* * Button style */

.button {
  position: relative;
  padding: 0;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  z-index: 20;
}

/* * */

/* * Page grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* * Page grid end */

/* * Header */

.header {
  width: 1160px;
  padding-left: 60px;
  background: linear-gradient(180deg, var(--basic-white) 18%, var(--special-light-yellow) 18%);
}

/* * Logo bar */

.logo-bar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

/* * Logo bar end */

/* * Header bar */

.header-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.search-form {
  display: flex;
  position: relative;
  width: 440px;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.search {
  font-weight: inherit;
  width: 356px;
  padding: 14px 38px;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search:hover {
  opacity: 0.6;
}

.search:focus {
  opacity: 1;
  border-bottom: 2px solid var(--basic-black);
}

.search-button {
  padding: 13px 15px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  visibility: hidden;
  cursor: pointer;
}

.search:focus-within+.search-button {
  visibility: visible;
}

.search-button:hover,
.search-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  visibility: visible;
}

.search-button:active {
  color: var(--white-opacity03);
  background-color: var(--basic-black);
  visibility: visible;
}

.header-buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.login,
.compare,
.cart {
  position: relative;
  padding: 15px;
  color: var(--basic-black);
}

.login {
  margin-right: 210px;
}

.login::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -9px;
  width: 13px;
  height: 14px;
  background-image: url(../img/icons/user-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare {
  margin-right: 35px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -11px;
  width: 14px;
  height: 14px;
  background-image: url(../img/icons/compare-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  margin-right: 26px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -7px;
  width: 10px;
  height: 10px;
  background-image: url(../img/icons/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover,
.login:focus,
.compare:hover,
.compare:focus,
.cart:hover,
.cart:focus {
  opacity: 0.6;
}

.login:active,
.compare:active,
.cart:active {
  opacity: 0.3;
}

/* * Header bar end */

/* * Nav bar */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.navigation-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item-link {
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--black-opacity06);
}

.navigation-item-link:active {
  color: var(--black-opacity03);
}

.navigation-item-catalog {
  position: relative;
  margin-right: 321px;
}

.navigation-item-catalog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 232px;
  width: 22px;
  height: 22px;
  background-image: url(../img/icons/drop-down-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.navigation-item-delivery {
  margin-right: 35px;
}

.navigation-item-warranty {
  margin-right: 108px;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  display: none;
  width: 1160px;
  margin: 0 auto;
  margin-left: -60px;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 60px;
  background-color: var(--special-light-yellow);
  z-index: 10;
}

.navigation-item-catalog:hover .dropdown-menu,
.navigation-item-catalog:focus-within .dropdown-menu {
  display: flex;
}

.dropdown-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-item-link {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 63px;
  color: var(--basic-black);
}

.dropdown-item-last {
  grid-row: 3 / 4;
}

.dropdown-item-link:hover,
.dropdown-item-link:focus {
  opacity: 0.6;
}

.dropdown-item-link:active {
  opacity: 0.3;
}

/* * Nav bar end */

/* * Main */

/* * Main slider */

.main-slider {
  width: 1160px;
  margin-bottom: 112px;
  background: linear-gradient(180deg, var(--special-light-yellow) 24%, var(--basic-white) 24%);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider-photo {
  justify-self: center;
}

.slider-selfie {
  margin-top: -15px;
  margin-right: 37px;
}

.slider-watch {
  margin-top: 11px;
  margin-right: 23px;
}

.slider-dron {
  margin-top: 68px;
  margin-right: 11px;
}

.slider-info {
  padding-left: 20px;
}

.slider-info-border {
  width: 100px;
  height: 7px;
  margin-top: 20px;
  background-color: var(--basic-white);
}

.slider-info-number {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
}

.slider-number-01,
.slider-number-02,
.slider-number-03 {
  margin-top: -59px;
  text-align: right;
}

.slider-number-01 {
  margin-right: 28px;
}

.slider-number-02,
.slider-number-03 {
  margin-right: 33px;
}

.slider-info-title {
  margin: 0;
  margin-top: -109px;
  margin-bottom: 27px;
  padding: 0;
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-info-text {
  width: 480px;
  margin: 0;
  margin-bottom: 59px;
  padding: 0;
}

.slider-info-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.slider-button-more {
  margin-left: 45px;
  margin-right: 50px;
}

.slider-button-more::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -44px;
  padding: 4px 110px;
  background-color: var(--special-yellow);
  z-index: -10;
}

.slider-button-more:hover::before,
.slider-button-more:focus::before {
  top: -9px;
  padding: 20px 110px;
  transition: 0.2s;
}

.slider-button-more:active {
  color: var(--black-opacity03);
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 72px;
  margin: 0;
  margin-top: -1px;
  margin-right: 68px;
  padding: 0;
  list-style: none;
}

.slider-pagination,
.slider-pagination-current {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 50%;
}

.slider-table {
  font-family: "Gilroy";
  font-weight: 300;
}

.slider-table-head {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-table-body {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-table-cell {
  padding: 10px 59px 2px 0px;
}

/* * Main slider end */

/* * Popular products */

.popular-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-products-item {
  width: 160px;
}

.popular-products-container {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  background-color: var(--special-light-yellow);
}

.popular-products-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-products-title {
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.popular-products-title.title-fitness {
  letter-spacing: normal;
}

.popular-products-link:hover .popular-products-container,
.popular-products-link:focus .popular-products-container {
  background-color: var(--special-yellow);
}

.popular-products-link:active .popular-products-image,
.popular-products-link:active .popular-products-title {
  opacity: 0.3;
}

/* * Popular products end*/

/* * Services */


/* * Services End */

/* * Main end */
